<!DOCTYPE html>

<html>

    <head>

        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Title -->
        <title>Giới thiệu</title>

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,900,700italic,500italic' rel='stylesheet' type='text/css'>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/perfect-scrollbar.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="css/fontello.css">
        <link rel="stylesheet" href="css/animation.css">
        <link rel="stylesheet" href="css/chosen.css">

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <link rel="stylesheet" href="css/ie.css">
        <![endif]-->
        <!--[if IE 7]>
            <link rel="stylesheet" href="css/fontello-ie7.css">
        <![endif]-->

    </head>


    <body>

        <!-- Container -->
        <div class="container">

            <!-- Header -->
            <header th:replace="templates :: header"></header>
            <!-- /Header -->


            <!-- Content -->
            <div class="row content">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="breadcrumbs">
                        <p><a href="#">Trang chủ</a> <i class="icons icon-right-dir"></i>Giới thiệu</p>
                    </div>
                </div>

                <!-- Main Content -->
                <section class="main-content col-lg-9 col-md-9 col-sm-9">


                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-sm-12">

                            <div class="carousel-heading no-margin">
                                <h4>Giới thiệu</h4>
                            </div>

                            <div class="page-content">

                                <p>Giới Thiệu Shop Quần Áo Online
                                    Chào mừng bạn đến với Shop Quần Áo Online Minny House, bài viết này sẽ giới thiệu về lý do shop lập trang blog này và mục đích sử dụng của nó. Bên cạnh đó là thông tin những sản phẩm đang được kinh doanh bởi Shop Quần Áo Online Minny House.
                                    </br>
                                    1.     MỤC ĐÍCH CỦA TRANG SHOP QUẦN ÁO ONLINE
                                    Trang Shop Quần Áo Online được lập ra nhầm quảng cáo cho những sản phẩm mà Minny House hiện đang cung cấp (chủ yếu là về quần áo nữ và mỹ phẩm). Bên cạnh đó, thông qua trang Shop Quần Áo Online, Minny House cũng tạo cơ hội để những bạn tham gia blog có thể mua bán hoặc trao đổi những vật dụng mà các bạn không cần đến nữa nhưng vẫn dùng rất tốt để đổi lấy những thứ mà bạn thật sự cần, không chỉ với Minny House mà với tất cả những bạn tham gia blog Shop Quần Áo Online.
                                    </br>
                                    2.       GIỚI THIỆU SẢN PHẨM SHOP QUẦN ÁO ONLINE MINNY HOUSE HIỆN ĐANG KINH DOANH
                                    Hiện tại trang ngoài sản phẩm chính là quần áo nữ, Shop Quần Áo Online còn sữa tắm kích trắng hạt kiwi 2in1 và kem cốt trắng da MY MIU. Các sản phẩm do shop lựa chọn và nhập về sẽ được cập nhật thường xuyên tại blog Shop Quần Áo Online.
                                    </br>
                                    3.       SẢN PHẨM QUẦN ÁO CỦA SHOP QUẦN ÁO ONLINE MINNY HOUSE
                                    Các hình ảnh về sản phẩm quần áo tại trang Shop Quần Áo Online sẽ được cập nhật nhanh chóng và thường xuyên. Thời gian cập nhật 2 tuần 1 lần, nguồn hàng đẹp và chất lượng, hình ảnh là do shop tự chụp, Shop Quần Áo Online Minny House xin cam kết về điều đó.
                                    </br>

                                    4.       DÒNG MỸ PHẨM SHOP QUẦN ÁO ONLINE MINNY HOUSE ĐANG KINH DOANH

                                    * Kem cốt trắng da MY MIU

                                    Body cốt 1 tầng: Dòng kem bán chạy nhất bên My Miu’s cosmetic, bảo đảm không làm bất kì khách nào thất vọng. Dòng kem Body cốt với tinh chất dưỡng nuôi da từ sâu bên trong, giúp da trắng hồng 1 cách tự nhiên,
                                    </br>
                                    * Sữa tắm kích trắng hạt kiwi 2in1

                                    ---- Đây là dòng sp 2 tác dụng cực kì tiện lợi và cam đoan an toàn - hiệu quả và chất lượng. 
                                    ----Có thể dùng làm sữa tắm hàng ngày từ 3-5 phút. Da sẽ bật 1-2 tone trắng. Cũng đc sử dụng như tắm trắng 1 tuần 2 lần. Từ 15-30 phút. Da sẽ cải thiện 3-4 tone trắng.
                                    </br>

                                    5.       LIÊN HỆ VỚI SHOP QUẦN ÁO ONLINE MINNY HOUSE
                                    Về sản phẩm và dịch vụ tại trang Shop Quần Áo Online, các bạn có nhu cầu mua bán trao đổi hoặc cần giải đáp mọi thắc mắc có thể liên hệ trực tiếp với Shop Quần Áo Online Minny House qua số ĐT 01649265037 (gặp Nhi) hoặc để lại comment tại blog.
                                    Shop Quần Áo Online Minny House nhất định sẽ làm bạn hài lòng!
                                </p>

                            </div>

                        </div>

                    </div>


                </section>
                <!-- /Main Content -->


                <!-- Sidebar -->
                <aside class="sidebar col-lg-3 col-md-3 col-sm-3 right-sidebar">

                    <!-- Thể loại -->
                    <div class="row sidebar-box purple">

                        <div class="col-lg-12 col-md-12 col-sm-12">

                            <div class="sidebar-box-heading">
                                <i class="icons icon-folder-open-empty"></i>
                                <h4>Thể loại</h4>
                            </div>

                            <div class="sidebar-box-content">
                                <ul>
                                    <li><a href="#">Đồ mặn <i class="icons icon-right-dir"></i></a>
                                        <ul class="sidebar-dropdown">
                                            <li>
                                                <ul>
                                                    <li><a href="#">Dom A</a></li>
                                                    <li><a href="#">Dom B</a></li>
                                                    <li><a href="#">Dom C</a></li>
                                                    <li><a href="#">Dom D</a></li>
                                                    <li><a href="#">Dom F</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Đồ ngọt <i class="icons icon-right-dir"></i></a>
                                        <ul class="sidebar-dropdown">
                                            <li>
                                                <ul>
                                                    <li><a href="#">Dom A</a></li>
                                                    <li><a href="#">Dom B</a></li>
                                                    <li><a href="#">Dom C</a></li>
                                                    <li><a href="#">Dom D</a></li>
                                                    <li><a href="#">Dom F</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Đồ uống <i class="icons icon-right-dir"></i></a>
                                        <ul class="sidebar-dropdown">
                                            <li>
                                                <ul>
                                                    <li><a href="#">Dom A</a></li>
                                                    <li><a href="#">Dom B</a></li>
                                                    <li><a href="#">Dom C</a></li>
                                                    <li><a href="#">Dom D</a></li>
                                                    <li><a href="#">Dom F</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Khác <i class="icons icon-right-dir"></i></a>
                                        <ul class="sidebar-dropdown">
                                            <li>
                                                <ul>
                                                    <li><a href="#">Dom A</a></li>
                                                    <li><a href="#">Dom B</a></li>
                                                    <li><a href="#">Dom C</a></li>
                                                    <li><a href="#">Dom D</a></li>
                                                    <li><a href="#">Dom F</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>
                    <!-- /Thể loại -->


                    <!-- Carousel -->
                    <div class="row sidebar-box">

                        <div class="col-lg-12 col-md-12 col-sm-12 sidebar-carousel">

                            <!-- Slider -->
                            <section class="sidebar-slider">
                                <div class="sidebar-flexslider">
                                    <ul class="slides">
                                        <li>
                                            <a href="#"><img src="img/sidebar-slide1.jpg" alt="Slide1"/></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="img/sidebar-slide2.jpg" alt="Slide1"/></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="img/sidebar-slide3.jpg" alt="Slide1"/></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="slider-nav"></div>
                            </section>
                            <!-- /Slider -->

                        </div>

                    </div>
                    <!-- /Carousel -->

                </aside>
                <!-- /Sidebar -->

            </div>
            <!-- /Content -->



            <!-- Banner -->
            <section class="banner">

                <div class="left-side-banner banner-item icon-on-right gray">
                    <h4>0123456789</h4>
                    <p>Từ thứ 2 - chủ nhật</p>
                    <i class="icons icon-phone-outline"></i>
                </div>

                <a href="#">
                    <div class="middle-banner banner-item icon-on-left light-blue">
                        <h4>Free shipping</h4>
                        <p>tất cả các orders </p>
                        <span class="button">Đọc tiếp</span>
                        <i class="icons icon-truck-1"></i>
                    </div>
                </a>

                <a href="#">
                    <div class="right-side-banner banner-item orange">
                        <h4>Quảng cáo</h4>
                        <p>trên web</p>
                        <span class="button">Đăng kí</span>
                    </div>
                </a>

            </section>
            <!-- /Banner -->


            <!-- Footer -->
            <footer id="footer" class="row">

                <!-- Upper Footer -->
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div id="upper-footer">

                        <div class="row">

                            <!-- Newsletter -->
                            <div class="col-lg-7 col-md-7 col-sm-7">
                                <form id="newsletter" action="php/newsletter.php">
                                    <h4>Nhận thông báo</h4>
                                    <input type="text" name="newsletter-email" placeholder="Nhập địa chỉ email">
                                    <input type="submit" name="newsletter-submit" value="Đăng kí">
                                </form>
                            </div>
                            <!-- /Newsletter -->


                            <!-- Social Media -->
                            <div class="col-lg-5 col-md-5 col-sm-5 social-media">
                                <h4>Kết nối</h4>
                                <ul>
                                    <li class="social-googleplus tooltip-hover" data-toggle="tooltip" data-placement="top" title="Google+"><a href="#"></a></li>
                                    <li class="social-facebook tooltip-hover" data-toggle="tooltip" data-placement="top" title="Facebook"><a href="#"></a></li>
                                    <li class="social-pinterest tooltip-hover" data-toggle="tooltip" data-placement="top" title="Pinterest"><a href="#"></a></li>
                                    <li class="social-twitter tooltip-hover" data-toggle="tooltip" data-placement="top" title="Twitter"><a href="#"></a></li>
                                    <li class="social-youtube tooltip-hover" data-toggle="tooltip" data-placement="top" title="Youtube"><a href="#"></a></li>
                                </ul>
                            </div>
                            <!-- /Social Media -->

                        </div>

                    </div>

                </div>
                <!-- /Upper Footer -->



                <!-- Main Footer -->
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div id="main-footer">

                        <div class="row">

                            <!-- The Service -->
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <h4>Dịch vụ</h4>
                                <ul>
                                    <li><a href="#"><i class="icons icon-right-dir"></i> Tài khoản của tôi</a></li>
                                    <li><a href="#"><i class="icons icon-right-dir"></i> Lịch sử order</a></li>
                                    <li><a href="#"><i class="icons icon-right-dir"></i> Giỏ hàng của tôi</a></li>
                                    <li><a href="#"><i class="icons icon-right-dir"></i> Thể loại</a></li>
                                    <li><a href="#"><i class="icons icon-right-dir"></i> Tìm kiếm sản phẩm</a></li>
                                </ul>
                            </div>
                            <!-- /The Service -->


                            <!-- Like us on Facebook -->
                            <div class="col-lg-3 col-md-3 col-sm-6 facebook-iframe">
                                <h4>Facebook</h4>
                                <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Ffu.jsclub%2F&width=270&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId" width="270" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                            </div>

                            <!-- /Like us on Facebook -->


                            <!-- Information -->
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <h4>Thông tin</h4>
                                <ul>
                                    <li><a href="#"><i class="icons icon-right-dir"></i> Feedback</a></li>
                                    <li><a href="#"><i class="icons icon-right-dir"></i> Cửa hàng</a></li>
                                    <li><a href="#"><i class="icons icon-right-dir"></i> Chính sách bảo mật</a></li>
                                    <li><a href="#"><i class="icons icon-right-dir"></i> Điều khoản</a></li>
                                </ul>
                            </div>
                            <!-- /Information -->


                            <!-- Contact Us -->
                            <div class="col-lg-3 col-md-3 col-sm-6 contact-footer-info">
                                <h4>Liên hệ với chúng tôi</h4>
                                <ul>
                                    <li><i class="icons icon-location"></i> Đại học FPT,<br>Thạch Hòa, Thạch Thất, Hà Nội</li>
                                    <li><i class="icons icon-phone"></i> 0123456789</li>
                                    <li><i class="icons icon-mail-alt"></i><a href="mailto:mail@company.com"> mail@companyname.com</a></li>
                                    <li><i class="icons icon-skype"></i> FU Hòa Lạc</li>
                                </ul>
                            </div>
                            <!-- /Contact Us -->

                        </div>

                    </div>

                </div>
                <!-- /Main Footer -->



                <!-- Lower Footer -->
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div id="lower-footer">

                        <div class="row">

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <p class="copyright">Copyright 2017 <a href="#">XvideosTeam</a>. All Rights Reserved.</p>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <ul class="payment-list">
                                    <li class="payment1"></li>
                                    <li class="payment2"></li>
                                    <li class="payment3"></li>
                                    <li class="payment4"></li>
                                    <li class="payment5"></li>
                                </ul>
                            </div>

                        </div>

                    </div>

                </div>
                <!-- /Lower Footer -->

            </footer>
            <!-- Footer -->


            <div id="back-to-top">
                <i class="icon-up-dir"></i>
            </div>

        </div>
        <!-- Container -->



        <!-- JavaScript -->
        <script src="js/modernizr.min.js"></script>
        <script src="js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/jquery.raty.min.js"></script>

        <!-- Scroll Bar -->
        <script src="js/perfect-scrollbar.min.js"></script>

        <!-- Cloud Zoom -->
        <script src="js/zoomsl-3.0.min.js"></script>

        <!-- FancyBox -->
        <script src="js/jquery.fancybox.pack.js"></script>

        <!-- jQuery REVOLUTION Slider  -->
        <script type="text/javascript" src="js/jquery.themepunch.plugins.min.js"></script>
        <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>

        <!-- FlexSlider -->
        <script defer src="js/flexslider.min.js"></script>

        <!-- IOS Slider -->
        <script src = "js/jquery.iosslider.min.js"></script>

        <!-- noUi Slider -->
        <script src="js/jquery.nouislider.min.js"></script>

        <!-- Owl Carousel -->
        <script src="js/owl.carousel.min.js"></script>

        <!-- Cloud Zoom -->
        <script src="js/zoomsl-3.0.min.js"></script>

        <!-- SelectJS -->
        <script src="js/chosen.jquery.min.js" type="text/javascript"></script>

        <!-- Main JS -->
        <script defer src="js/bootstrap.min.js"></script>
        <script src="js/main-script.js"></script>



    </body>

</html>