<!DOCTYPE html>
<!--
Copyright © 2017 XVideos Team
-->
<html>
    <head>
        <title>Register</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .success {
                color: green;
            }
            .failed {
                color: red;
            }
        </style>
    </head>
    <body>
        <h1>Register</h1>
        <form action="" method="POST">
            <table>
                <tr>
                    <td>Username</td>
                    <td>
                        <input type="text" name="username" maxlength="30" required th:value="${username}">
                    </td>
                </tr> 
                <tr>
                    <td>Password</td>
                    <td>
                        <input type="password" name="password" maxlength="30" required th:value="${password}">
                    </td>
                </tr> 
                <tr>
                    <td>Full Name</td>
                    <td>
                        <input type="text" name="fullName" maxlength="50" required th:value="${fullName}">
                    </td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>
                        <input type="radio" name="gender" value="true" th:checked="${gender}">male
                        <input type="radio" name="gender" value="false" th:checked="${!gender}"> female
                    </td>
                </tr> 
                <tr>
                    <td>Date Of Birth</td>
                    <td><input type="date" name="dateOfBirth" th:value="${dateOfBirth}"> </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>
                        <input type="text" name="email" maxlength="255" th:value="${email}">
                    </td>
                </tr> 
                <tr>
                    <td>Phone Number</td>
                    <td>
                        <input type="text" name="phoneNumber" maxlength="20" th:value="${phoneNumber}">
                    </td>
                </tr> 
                <tr>
                    <td>Address</td>
                    <td>
                        <textarea name="address" rows="3" cols="80" th:text="${address}">
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td>Facebook URL</td>
                    <td>
                        <input type="url" name="facebookUrl" th:value="${facebookUrl}">
                    </td>
                </tr>
            </table>
            <p th:class="${registerSuccess ? 'success' : 'failed'}" th:text="${registerResultMessage}"></p>
            <input type="submit" value="Register">
            <input type="reset" value="Clear">
        </form>

    </body>
</html>
