<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="commonHead(pageTitle)">
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,900,700italic,500italic"
    />
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../public/resources/css/bootstrap.min.css" th:href="@{~/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../public/resources/css/perfect-scrollbar.css" th:href="@{~/resources/css/perfect-scrollbar.css}"
    />
    <link rel="stylesheet" href="../public/resources/css/flexslider.css" th:href="@{~/resources/css/flexslider.css}" />
    <link rel="stylesheet" href="../public/resources/css/fontello.css" th:href="@{~/resources/css/fontello.css}" />
    <link rel="stylesheet" href="../public/resources/css/settings.css" th:href="@{~/resources/css/settings.css}" />
    <link rel="stylesheet" href="../public/resources/css/animation.css" th:href="@{~/resources/css/animation.css}" />
    <link rel="stylesheet" href="../public/resources/css/owl.carousel.css" th:href="@{~/resources/css/owl.carousel.css}" />
    <link rel="stylesheet" href="../public/resources/css/owl.theme.css" th:href="@{~/resources/css/owl.theme.css}" />
    <link rel="stylesheet" href="../public/resources/css/chosen.css" th:href="@{~/resources/css/chosen.css}" />
    <link rel="stylesheet" href="../public/resources/css/style.css" th:href="@{~/resources/css/style.css}" />
    <link rel="stylesheet" href="../public/resources/css/styleedit.css" th:href="@{~/resources/css/styleedit.css}" />
    <!-- Page title -->
    <title th:text="${pageTitle}">Template page</title>
</head>

<body>
    <div class="container">
        <!-- Header -->
        <header class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <!-- Top Header -->
                <div id="top-header" th:fragment="topHeader(currentLoginAccount)">
                    <div class="row">
                        <nav id="user-welcome-area" class="col-lg-5 col-md-5 col-sm-5 col-lg-push-7 col-md-push-7 col-sm-push-7" th:if="${currentLoginAccount != null}">
                            <ul class="pull-right">
                                <li><a href="#" th:href="@{~/profile}" th:text="${'Xin chào, ' + currentLoginAccount.fullName + '!'}">Xin chào, ABC!</a></li>
                                <li><a href="#" th:href="@{~/logout}">Đăng xuất</a></li>
                            </ul>
                        </nav>
                        <nav id="login-register-area" class="col-lg-5 col-md-5 col-sm-5 col-lg-push-7 col-md-push-7 col-sm-push-7" th:if="${currentLoginAccount == null}">
                            <ul class="pull-right">
                                <li class="purple">
                                    <a href="#"><i class="icons icon-user-1"></i>Đăng nhập</a>
                                    <ul id="login-dropdown" class="box-dropdown">
                                        <li>
                                            <div class="box-wrapper">
                                                <form id="login-form">
                                                    <h4>ĐĂNG NHẬP</h4>
                                                    <div class="iconic-input">
                                                        <input type="text" name="username" placeholder="Tên người dùng" maxlength="30" required>
                                                        <i class="icons icon-user-1"></i>
                                                    </div>
                                                    <div class="iconic-input">
                                                        <input type="password" name="password" placeholder="Mật khẩu" maxlength="30" required>
                                                        <i class="icons icon-key-1"></i>
                                                    </div>
                                                    <p id="login-form-error-message" class="text-danger"></p>
                                                    <div class="pull-left">
                                                        <input type="submit" class="orange" value="Đăng nhập">
                                                    </div>
                                                    <div class="pull-right">
                                                        <a class="button" href="#" th:href="@{~/register}">Đăng ký tài khoản</a>
                                                    </div>
                                                    <br class="clearfix">
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#" th:href="@{~/register}"><i class="icons icon-user-add"></i>Đăng ký</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /Top Header -->
                <!-- Main Header -->
                <div id="main-header" th:fragment="mainHeader">
                    <div class="row">
                        <div id="logo" class="col-lg-4 col-md-4 col-sm-4">
                            <a href="#" th:href="@{~/}"><img src="../public/resources/img/logo.png" th:src="@{~/resources/img/logo.png}" alt="Logo"></a>
                        </div>
                        <nav id="middle-navigation" class="col-lg-8 col-md-8 col-sm-8" th:if="${currentLoginAccount != null}">
                            <ul class="pull-right">
                                <li class="orange">
                                    <a href="#" th:href="@{~/cart}"><i class="icons icon-basket-2"></i>Giỏ hàng</a>
                                </li>
                                <li class="blue">
                                    <a href="#" th:href="@{~/orders/sent}"><i class="icons icon-upload-5"></i>Đơn hàng đã gửi</a>
                                </li>
                                <li class="green">
                                    <a href="#" th:href="@{~/orders/sent}"><i class="icons icon-download-6"></i>Đơn hàng đã nhận</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /Main Header -->
                <!-- Main Navigation -->
                <nav id="main-navigation" class="style1" th:fragment="mainNavigation(searchKeywords)">
                    <ul>
                        <li class="home-green current-item">
                            <a>
                                <i class="icons icon-home"></i>
                                <span class="nav-caption">Trang chủ</span>
                                <span class="nav-description">FU Hòa Lạc</span>
                            </a>
                            <ul class="normal-dropdown normalAnimation">
                                <li><a href="#" th:href="@{~/products/search(orderBy='date_DESC')}">Mới nhất</a></li>
                                <li><a href="#" th:href="@{~/products/search(orderBy='averageRating_DESC')}">Đánh giá cao nhất</a></li>
                                <li><a href="#" th:href="@{~/products/search(orderBy='orderQuantityToday_DESC')}">Order nhiều nhất trong ngày</a></li>
                            </ul>
                        </li>
                        <li class="red">
                            <a href="#" th:href="@{~/products/search(categoryId=1)}">
                            <i class="icons icon-food-1"></i>
                            <span class="nav-caption">Đồ mặn</span>
                            <span class="nav-description">Cơm, bún, mì, thịt, xôi, bánh mì,...</span>
                        </a>
                        </li>
                        <li class="blue">
                            <a href="#" th:href="@{~/products/search(categoryId=2)}">
                            <i class="icons icon-fast-food"></i>
                            <span class="nav-caption">Đồ ngọt</span>
                            <span class="nav-description">Bánh ngọt, bim bim, kẹo, bánh mặn</span>
                        </a>
                        </li>
                        <li class="orange">
                            <a href="#" th:href="@{~/products/search(categoryId=3)}">
                            <i class="icons icon-coffee"></i>
                            <span class="nav-caption">Đồ uống</span>
                            <span class="nav-description">Cafe, trà sữa, đồ uống có ga,...</span>
                        </a>
                        </li>
                        <li class="green">
                            <a href="#" th:href="@{~/products/search(categoryId=4)}">
                            <i class="icons icon-book"></i>
                            <span class="nav-caption">Khác</span>
                            <span class="nav-description">Bàn phím, sách, lót chuột, quần áo,...</span>
                        </a>
                        </li>
                        <li class="purple">
                            <a href="#" th:href="@{~/contact}">
                            <i class="icons icon-contacts"></i>
                            <span class="nav-caption">Liên hệ</span>
                            <span class="nav-description">Liên hệ với chúng tôi</span>
                        </a>
                        </li>
                        <li class="nav-search">
                            <i class="icons icon-search-1"></i>
                        </li>
                    </ul>
                    <div id="search-bar">
                        <form action="#" method="GET" th:action="@{~/products/search}">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <table id="search-bar-table">
                                    <tr>
                                        <td class="search-column-1">
                                            <p>
                                                <span class="grey">Top từ khóa tìm kiếm nhiều nhất</span>
                                                <span th:each="searchKeyword, status : ${searchKeywords}"><a href="#" th:text="${searchKeyword.keyword}" th:href="@{~/products/search(keyword=${searchKeyword.keyword})}">sting</a><th:block th:if="${status.index &lt; searchKeywords.size() - 1}">,&nbsp;</th:block></span>
                                            </p>
                                            <input type="text" name="keyword" placeholder="Nhập từ khóa tìm kiếm">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="search-button">
                                <input type="submit" value="">
                                <i class="icons icon-search-1"></i>
                            </div>
                        </form>
                    </div>
                </nav>
                <!-- /Main Navigation -->
            </div>
        </header>
        <!-- /Header -->
        <div class="row content">
            <section class="main-content col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">
                <section class="slider" th:fragment="topBanner">
                    <div class="tp-banner-container">
                        <div class="tp-banner">
                            <ul>
                                <!-- SLIDE  -->
                                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                                    <!-- MAIN IMAGE -->
                                    <img src="../public/resources/img/slide1.jpg" th:src="@{~/resources/img/slide1.jpg}" alt="slidebg1" data-bgfit="cover" data-bgposition="left top"
                                        data-bgrepeat="no-repeat">
                                    <!-- LAYERS -->
                                </li>
                                <!-- SLIDE  -->
                                <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">
                                    <!-- MAIN IMAGE -->
                                    <img src="../public/resources/img/slide2.jpg" th:src="@{~/resources/img/slide2.jpg}" alt="darkblurbg" data-bgfit="cover"
                                        data-bgposition="left top" data-bgrepeat="no-repeat">
                                    <!-- LAYERS -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- Featured Products -->
                <div class="products-row row" th:fragment="productSlider">
                    <!-- Carousel Heading -->
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="carousel-heading">
                            <h4>Mới nhất</h4>
                            <div class="carousel-arrows">
                                <i class="icons icon-left-dir"></i>
                                <i class="icons icon-right-dir"></i>
                            </div>
                        </div>
                    </div>
                    <!-- /Carousel Heading -->
                    <!-- Carousel -->
                    <div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">
                        <div class="owl-carousel" data-max-items="3">
                            <!-- Slide -->
                            <div>
                                <!-- Carousel Item -->
                                <div class="product">
                                    <div class="product-image">
                                        <span class="product-tag-1">Ngưng order</span>
                                        <img src="../public/resources/img/products/1.jpg" th:src="@{~/resources/img/products/1.jpg}" alt="Product 1">
                                        <a href="#" th:href="@{~/products/detail}" class="product-hover"><i class="icons icon-eye-1"></i> Xem nhanh</a>
                                    </div>
                                    <div class="product-info">
                                        <h5><a href="#" th:href="@{~/products/detail}">Sản phẩm</a></h5>
                                        <span class="price">25.000VND</span>
                                        <div class="rating readonly-rating" data-score="4"></div>
                                    </div>
                                    <div class="product-actions">
                                        <span class="add-to-cart">
                                            <span class="action-wrapper">
                                                <i class="icons icon-basket-2"></i>
                                                <span class="action-name">Đặt hàng</span>
                                        </span>
                                        </span>
                                        <span class="add-to-favorites">
                                            <span class="action-wrapper">
                                                <i class="icons icon-heart-empty"></i>
                                                <span class="action-name">Yêu thích</span>
                                        </span>
                                        </span>
                                        <span class="add-to-compare">
                                            <span class="action-wrapper">
                                                <i class="icons icon-info-outline"></i>
                                                <span class="action-name">Chi tiết</span>
                                        </span>
                                        </span>
                                    </div>
                                </div>
                                <!-- /Carousel Item -->
                            </div>
                            <!-- /Slide -->
                            <!-- Slide -->
                            <div>
                                <!-- Carousel Item -->
                                <div class="product">
                                    <div class="product-image">
                                        <span class="product-tag-2">Ngưng order</span>
                                        <img src="../public/resources/img/products/2.jpg" th:src="@{~/resources/img/products/2.jpg}" alt="Product 1">
                                        <a href="#" th:href="@{~/products/detail}" class="product-hover"><i class="icons icon-eye-1"></i> Xem nhanh</a>
                                    </div>
                                    <div class="product-info">
                                        <h5><a href="#" th:href="@{~/products/detail}">Sản phẩm</a></h5>
                                        <span class="price">25.000VND</span>
                                        <div class="rating readonly-rating" data-score="4"></div>
                                    </div>
                                    <div class="product-actions">
                                        <span class="add-to-cart">
                                                <span class="action-wrapper">
                                                    <i class="icons icon-basket-2"></i>
                                                    <span class="action-name">Đặt hàng</span>
                                        </span>
                                        </span>
                                        <span class="add-to-favorites">
                                                <span class="action-wrapper">
                                                    <i class="icons icon-heart-empty"></i>
                                                    <span class="action-name">Yêu thích</span>
                                        </span>
                                        </span>
                                        <span class="add-to-compare">
                                                <span class="action-wrapper">
                                                    <i class="icons icon-info-outline"></i>
                                                    <span class="action-name">Chi tiết</span>
                                        </span>
                                        </span>
                                    </div>
                                </div>
                                <!-- /Carousel Item -->
                            </div>
                            <!-- /Slide -->
                            <!-- Slide -->
                            <div>
                                <!-- Carousel Item -->
                                <div class="product">
                                    <div class="product-image">
                                        <span class="product-tag-2">Ngưng order</span>
                                        <img src="../public/resources/img/products/3.jpg" th:src="@{~/resources/img/products/3.jpg}" alt="Product 1">
                                        <a href="#" th:href="@{~/products/detail}" class="product-hover"><i class="icons icon-eye-1"></i> Xem nhanh</a>
                                    </div>
                                    <div class="product-info">
                                        <h5><a href="#" th:href="@{~/products/detail}">Sản phẩm</a></h5>
                                        <span class="price">25.000VND</span>
                                        <div class="rating readonly-rating" data-score="4"></div>
                                    </div>
                                    <div class="product-actions">
                                        <span class="add-to-cart">
                                                    <span class="action-wrapper">
                                                        <i class="icons icon-basket-2"></i>
                                                        <span class="action-name">Đặt hàng</span>
                                        </span>
                                        </span>
                                        <span class="add-to-favorites">
                                                    <span class="action-wrapper">
                                                        <i class="icons icon-heart-empty"></i>
                                                        <span class="action-name">Yêu thích</span>
                                        </span>
                                        </span>
                                        <span class="add-to-compare">
                                                    <span class="action-wrapper">
                                                        <i class="icons icon-info-outline"></i>
                                                        <span class="action-name">Chi tiết</span>
                                        </span>
                                        </span>
                                    </div>
                                </div>
                                <!-- /Carousel Item -->
                            </div>
                            <!-- /Slide -->
                        </div>
                    </div>
                    <!-- /Carousel -->
                </div>
                <!-- /Featured Products -->
            </section>
            <aside class="sidebar col-lg-3 col-md-3 col-sm-3  col-lg-pull-9 col-md-pull-9 col-sm-pull-9">
                <!-- Category -->
                <div class="row sidebar-box purple" th:fragment="categoryBox(categories)">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div>
                            <div class="sidebar-box-heading">
                                <i class="icons icon-folder-open-empty"></i>
                                <h4>Thể loại</h4>
                            </div>
                            <div class="sidebar-box-content">
                                <ul>
                                    <li th:each="category : ${categories}"><a href="#" th:text="${category.name}" th:href="@{~/products/search(categoryId=${category.id})}">Đồ mặn</a></li>
                                    <!--/*-->
                                    <li><a href="#">Đồ ngọt</a></li>
                                    <li><a href="#">Đồ uống</a></li>
                                    <li><a href="#">Khác</a></li>
                                    <!--*/-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Category -->
                <!-- Banner sidebar -->
                <div class="row sidebar-box" th:fragment="bannerBox">
                    <div class="col-lg-12 col-md-12 col-sm-12 sidebar-carousel">
                        <!-- Slider -->
                        <section class="sidebar-slider">
                            <div class="sidebar-flexslider">
                                <ul class="slides">
                                    <li><a href="#"><img src="../public/resources/img/sidebar-slide1.jpg" th:src="@{~/resources/img/sidebar-slide1.jpg}" alt="Slide 1" /></a></li>
                                    <li><a href="#"><img src="../public/resources/img/sidebar-slide2.jpg" th:src="@{~/resources/img/sidebar-slide2.jpg}" alt="Slide 2" /></a></li>
                                    <li><a href="#"><img src="../public/resources/img/sidebar-slide3.jpg" th:src="@{~/resources/img/sidebar-slide3.jpg}" alt="Slide 3" /></a></li>
                                </ul>
                            </div>
                            <div class="slider-nav"></div>
                        </section>
                        <!-- /Slider -->
                    </div>
                </div>
                <!-- /Banner sidebar -->
                <!-- Best-sellers -->
                <div class="row sidebar-box red" th:fragment="productListBox">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="sidebar-box-heading">
                            <i class="icons icon-award"></i>
                            <h4>Bán chạy nhất</h4>
                        </div>
                        <div class="sidebar-box-content">
                            <table class="bestsellers-table">
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="#" th:href="@{~/products/detail}">
                                                    <img src="../public/resources/img/products/1.jpg" th:src="@{~/resources/img/products/1.jpg}" alt="Product 1">
                                                </a>
                                    </td>
                                    <td class="product-info">
                                        <p><a href="#" th:href="@{~/products/detail}">Sản phẩm</a></p>
                                        <div class="rating readonly-rating" data-score="4"></div>
                                        <span class="price">25.000VND</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="#" th:href="@{~/products/detail}">
                                                    <img src="../public/resources/img/products/2.jpg" th:src="@{~/resources/img/products/2.jpg}" alt="Product 2">
                                                </a>
                                    </td>
                                    <td class="product-info">
                                        <p><a href="#" th:href="@{~/products/detail}">Sản phẩm</a></p>
                                        <div class="rating readonly-rating" data-score="4"></div>
                                        <span class="price">25.000VND</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="#" th:href="@{~/products/detail}">
                                                    <img src="../public/resources/img/products/3.jpg" th:src="@{~/resources/img/products/3.jpg}" alt="Product 3">
                                                </a>
                                    </td>
                                    <td class="product-info">
                                        <p><a href="#" th:href="@{~/products/detail}">Sản phẩm</a></p>
                                        <div class="rating readonly-rating" data-score="4"></div>
                                        <span class="price">25.000VND</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
                <!-- Best-sellers -->
                <!-- Search keywords -->
                <div class="row sidebar-box green" th:fragment="searchKeywordsBox(searchKeywords)">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="sidebar-box-heading">
                            <i class="icons icon-tag-6"></i>
                            <h4>Từ khóa tìm kiếm</h4>
                        </div>
                        <div class="sidebar-box-content sidebar-padding-box">
                            <a href="#" class="tag-item" th:each="searchKeyword : ${searchKeywords}" th:text="${searchKeyword.keyword}" th:href="@{~/products/search(keyword=${searchKeyword.keyword})}">cơm</a>
                        </div>
                    </div>
                </div>
                <!-- /Search keywords -->
            </aside>
        </div>
        <!-- Banner -->
        <section class="row banner" th:fragment="bottomBanner">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="left-side-banner banner-item icon-on-right gray">
                    <h4>0123456789</h4>
                    <p>Từ thứ 2 - chủ nhật</p>
                    <i class="icons icon-phone-outline"></i>
                </div>
                <div class="middle-banner banner-item icon-on-left light-blue">
                    <h4>Free shipping</h4>
                    <p>tất cả các orders </p>
                    <a href="#" class="button">Đọc tiếp</a>
                    <i class="icons icon-truck-1"></i>
                </div>
                <div class="right-side-banner banner-item orange">
                    <h4>Quảng cáo</h4>
                    <p>trên web</p>
                    <a href="#" class="button">Đăng kí</a>
                </div>
            </div>
        </section>
        <!-- /Banner -->
        <!-- Footer -->
        <footer id="footer" class="row" th:fragment="footer">
            <!-- Main Footer -->
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div id="main-footer">
                    <div class="row">
                        <!-- Information -->
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <h4>Về chúng tôi</h4>
                            <p>
                                
                            </p>
                        </div>
                        <!-- /Information -->
                        <!-- Like us on Facebook -->
                        <div class="col-lg-3 col-md-3 col-sm-3 facebook-iframe">
                            <h4>Facebook</h4>
                            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Ffu.jsclub%2F&width=270&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId"
                                width="270" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        </div>
                        <!-- /Like us on Facebook -->
                        <!-- Contact Us -->
                        <div class="col-lg-4 col-md-4 col-sm-4 contact-footer-info">
                            <h4>Liên hệ với chúng tôi</h4>
                            <ul>
                                <li><i class="icons icon-location"></i>Đại học FPT, Thạch Hòa, Thạch Thất, Hà Nội</li>
                                <li><i class="icons icon-phone"></i>0969696969</li>
                                <li><i class="icons icon-mail-alt"></i><a href="mailto:xvideosteam@abc.xyz.com">xvideosteam@abc.xyz</a></li>
                                <li><i class="icons icon-globe"></i><a href="https://www.facebook.com/fu.jsclub/" target="_blank">JS Club</a></li>
                            </ul>
                        </div>
                        <!-- /Contact Us -->
                    </div>
                </div>
            </div>
            <!-- /Main Footer -->
            <!-- Lower Footer -->
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div id="lower-footer">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="copyright">Copyright &copy; 2017 XVideos Team. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Lower Footer -->
        </footer>
        <!-- Footer -->
        <div id="back-to-top" th:fragment="backToTopButton">
            <i class="icon-up-dir"></i>
        </div>
    </div>
    <div th:fragment="commonScripts">
        <!-- JavaScript -->
        <script src="../public/resources/js/modernizr.min.js" th:src="@{~/resources/js/modernizr.min.js}"></script>
        <script src="../public/resources/js/jquery-1.11.0.min.js" th:src="@{~/resources/js/jquery-1.11.0.min.js}"></script>
        <script src="../public/resources/js/jquery-ui.min.js" th:src="@{~/resources/js/jquery-ui.min.js}"></script>
        <script src="../public/resources/js/jquery.raty.min.js" th:src="@{~/resources/js/jquery.raty.min.js}"></script>
        <script src="../public/resources/js/bootstrap.min.js" th:src="@{~/resources/js/bootstrap.min.js}"></script>
        <!-- Scroll Bar -->
        <script src="../public/resources/js/perfect-scrollbar.min.js" th:src="@{~/resources/js/perfect-scrollbar.min.js}"></script>
        <!-- Cloud Zoom -->
        <script src="../public/resources/js/zoomsl-3.0.min.js" th:src="@{~/resources/js/zoomsl-3.0.min.js}"></script>
        <!-- FancyBox -->
        <script src="../public/resources/js/jquery.fancybox.pack.js" th:src="@{~/resources/js/jquery.fancybox.pack.js}"></script>
        <!-- jQuery REVOLUTION Slider  -->
        <script src="../public/resources/js/jquery.themepunch.plugins.min.js" th:src="@{~/resources/js/jquery.themepunch.plugins.min.js}"></script>
        <script src="../public/resources/js/jquery.themepunch.revolution.min.js" th:src="@{~/resources/js/jquery.themepunch.revolution.min.js}"></script>
        <!-- FlexSlider -->
        <script src="../public/resources/js/flexslider.min.js" th:src="@{~/resources/js/flexslider.min.js}"></script>
        <!-- IOS Slider -->
        <script src="../public/resources/js/jquery.iosslider.min.js" th:src="@{~/resources/js/jquery.iosslider.min.js}"></script>
        <!-- noUi Slider -->
        <script src="../public/resources/js/jquery.nouislider.min.js" th:src="@{~/resources/js/jquery.nouislider.min.js}"></script>
        <!-- Owl Carousel -->
        <script src="../public/resources/js/owl.carousel.min.js" th:src="@{~/resources/js/owl.carousel.min.js}"></script>
        <!-- SelectJS -->
        <script src="../public/resources/js/chosen.jquery.min.js" th:src="@{~/resources/js/chosen.jquery.min.js}"></script>
        <!-- TinyNav -->
        <script src="../public/resources/js/tinynav.min.js" th:src="@{~/resources/js/tinynav.min.js}"></script>
        <!-- jQuery Tweet -->
        <script src="../public/resources/twitter/jquery.tweet.min.js" th:src="@{~/resources/twitter/jquery.tweet.min.js}"></script>
        <!-- Main JS -->
        <script src="../public/resources/js/main-script.js" th:src="@{~/resources/js/main-script.js}"></script>
        <script th:inline="javascript">
            var ratyImageResourceDirectory = /*[[@{~/resources/js/img}]]*/ "../public/resources/js/img";
        </script>
    </div>
</body>

</html>