<!DOCTYPE html>

<html>

    <head>

        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Title -->
        <title>Giới thiệu</title>

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,900,700italic,500italic' rel='stylesheet' type='text/css'>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/perfect-scrollbar.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="css/fontello.css">
        <link rel="stylesheet" href="css/animation.css">
        <link rel="stylesheet" href="css/chosen.css">

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <link rel="stylesheet" href="css/ie.css">
        <![endif]-->
        <!--[if IE 7]>
            <link rel="stylesheet" href="css/fontello-ie7.css">
        <![endif]-->

    </head>


    <body>

        <!-- Container -->
        <div class="container">

            <!-- Header -->
            <header th:replace="templates :: header"></header>
            <!-- /Header -->


            <!-- Content -->
            <div class="row content">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="breadcrumbs">
                        <p><a href="index.html" th:href="@{~/resources/index.html}">Trang chủ</a> <i class="icons icon-right-dir"></i>Giới thiệu</p>
                    </div>
                </div>

                <!-- Main Content -->
                <section class="main-content col-lg-9 col-md-9 col-sm-9">


                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-sm-12">

                            <div class="carousel-heading no-margin">
                                <h4>Giới thiệu</h4>
                            </div>

                            <div class="page-content">

                                <p>Giới Thiệu Shop Quần Áo Online
                                    Chào mừng bạn đến với Shop Quần Áo Online Minny House, bài viết này sẽ giới thiệu về lý do shop lập trang blog này và mục đích sử dụng của nó. Bên cạnh đó là thông tin những sản phẩm đang được kinh doanh bởi Shop Quần Áo Online Minny House.
                                    </br>
                                    1.     MỤC ĐÍCH CỦA TRANG SHOP QUẦN ÁO ONLINE
                                    Trang Shop Quần Áo Online được lập ra nhầm quảng cáo cho những sản phẩm mà Minny House hiện đang cung cấp (chủ yếu là về quần áo nữ và mỹ phẩm). Bên cạnh đó, thông qua trang Shop Quần Áo Online, Minny House cũng tạo cơ hội để những bạn tham gia blog có thể mua bán hoặc trao đổi những vật dụng mà các bạn không cần đến nữa nhưng vẫn dùng rất tốt để đổi lấy những thứ mà bạn thật sự cần, không chỉ với Minny House mà với tất cả những bạn tham gia blog Shop Quần Áo Online.
                                    </br>
                                    2.       GIỚI THIỆU SẢN PHẨM SHOP QUẦN ÁO ONLINE MINNY HOUSE HIỆN ĐANG KINH DOANH
                                    Hiện tại trang ngoài sản phẩm chính là quần áo nữ, Shop Quần Áo Online còn sữa tắm kích trắng hạt kiwi 2in1 và kem cốt trắng da MY MIU. Các sản phẩm do shop lựa chọn và nhập về sẽ được cập nhật thường xuyên tại blog Shop Quần Áo Online.
                                    </br>
                                    3.       SẢN PHẨM QUẦN ÁO CỦA SHOP QUẦN ÁO ONLINE MINNY HOUSE
                                    Các hình ảnh về sản phẩm quần áo tại trang Shop Quần Áo Online sẽ được cập nhật nhanh chóng và thường xuyên. Thời gian cập nhật 2 tuần 1 lần, nguồn hàng đẹp và chất lượng, hình ảnh là do shop tự chụp, Shop Quần Áo Online Minny House xin cam kết về điều đó.
                                    </br>

                                    4.       DÒNG MỸ PHẨM SHOP QUẦN ÁO ONLINE MINNY HOUSE ĐANG KINH DOANH

                                    * Kem cốt trắng da MY MIU

                                    Body cốt 1 tầng: Dòng kem bán chạy nhất bên My Miu’s cosmetic, bảo đảm không làm bất kì khách nào thất vọng. Dòng kem Body cốt với tinh chất dưỡng nuôi da từ sâu bên trong, giúp da trắng hồng 1 cách tự nhiên,
                                    </br>
                                    * Sữa tắm kích trắng hạt kiwi 2in1

                                    ---- Đây là dòng sp 2 tác dụng cực kì tiện lợi và cam đoan an toàn - hiệu quả và chất lượng. 
                                    ----Có thể dùng làm sữa tắm hàng ngày từ 3-5 phút. Da sẽ bật 1-2 tone trắng. Cũng đc sử dụng như tắm trắng 1 tuần 2 lần. Từ 15-30 phút. Da sẽ cải thiện 3-4 tone trắng.
                                    </br>

                                    5.       LIÊN HỆ VỚI SHOP QUẦN ÁO ONLINE MINNY HOUSE
                                    Về sản phẩm và dịch vụ tại trang Shop Quần Áo Online, các bạn có nhu cầu mua bán trao đổi hoặc cần giải đáp mọi thắc mắc có thể liên hệ trực tiếp với Shop Quần Áo Online Minny House qua số ĐT 01649265037 (gặp Nhi) hoặc để lại comment tại blog.
                                    Shop Quần Áo Online Minny House nhất định sẽ làm bạn hài lòng!
                                </p>

                            </div>

                        </div>

                    </div>


                </section>
                <!-- /Main Content -->


                <!-- Sidebar -->
                <aside class="sidebar col-lg-3 col-md-3 col-sm-3 right-sidebar">

                    <!-- Category -->
                    <div th:replace="template :: category"></div>
                    <!-- /Category -->


                    <!-- Banner sidebar -->
                    <div th:replace="template :: banner_sidebar"></div>
                    <!-- /Banner sidebar -->

                </aside>
                <!-- /Sidebar -->

            </div>
            <!-- /Content -->



            <!-- Banner -->
            <section th:replace="template :: banner"></section>
            <!-- /Banner -->


            <!-- Footer -->
            <footer th:replace="template :: footer"></footer>
            <!-- Footer -->


            <div id="back-to-top">
                <i class="icon-up-dir"></i>
            </div>

        </div>
        <!-- Container -->



        <!-- JavaScript -->
        <script src="js/modernizr.min.js"></script>
        <script src="js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/jquery.raty.min.js"></script>

        <!-- Scroll Bar -->
        <script src="js/perfect-scrollbar.min.js"></script>

        <!-- Cloud Zoom -->
        <script src="js/zoomsl-3.0.min.js"></script>

        <!-- FancyBox -->
        <script src="js/jquery.fancybox.pack.js"></script>

        <!-- jQuery REVOLUTION Slider  -->
        <script type="text/javascript" src="js/jquery.themepunch.plugins.min.js"></script>
        <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>

        <!-- FlexSlider -->
        <script defer src="js/flexslider.min.js"></script>

        <!-- IOS Slider -->
        <script src = "js/jquery.iosslider.min.js"></script>

        <!-- noUi Slider -->
        <script src="js/jquery.nouislider.min.js"></script>

        <!-- Owl Carousel -->
        <script src="js/owl.carousel.min.js"></script>

        <!-- Cloud Zoom -->
        <script src="js/zoomsl-3.0.min.js"></script>

        <!-- SelectJS -->
        <script src="js/chosen.jquery.min.js" type="text/javascript"></script>

        <!-- Main JS -->
        <script defer src="js/bootstrap.min.js"></script>
        <script src="js/main-script.js"></script>



    </body>

</html>