<!DOCTYPE html>
<html>

<head th:include="template :: commonHead('Trang chủ')">
</head>

<body>
    <!-- Container -->
    <div class="container">
        <!-- Header -->
        <header th:replace="template :: header" />
        <!-- /Header -->
        <!-- Contents -->
        <div class="row content">
            <!-- Main Content -->
            <section class="main-content col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">
                <!-- Top banner -->
                <div th:replace="template :: topBanner"></div>
                <!-- /Top banner -->
                <!-- Featured Products -->
                <div th:replace="template :: productSlider"></div>
                <!-- /Featured Products -->
            </section>
            <!-- /Main Content -->
            <!-- Sidebar -->
            <aside class="sidebar col-lg-3 col-md-3 col-sm-3 col-lg-pull-9 col-md-pull-9 col-sm-pull-9">
                <!-- Category -->
                <div th:replace="template :: categoryMenu"></div>
                <!-- /Category -->
                <!-- Banner sidebar -->
                <div th:replace="template :: bannerBox"></div>
                <!-- /Banner sidebar -->
                <!-- Best-sellers -->
                <div th:replace="template :: productListBox"></div>
                <!-- /Best-sellers -->
                <!-- Search keywords -->
                <div th:replace="template :: tagListBox"></div>
                <!-- /Search keywords -->
            </aside>
            <!-- /Sidebar -->
        </div>
        <!-- /Content -->
        <!-- Banner -->
        <section th:replace="template :: bottomBanner" />
        <!-- /Banner -->
        <!-- Footer -->
        <footer th:replace="template :: footer" />
        <!-- Footer -->
        <div th:replace="template :: backToTopButton" />
    </div>
    <!-- Container -->
    <div th:include="template :: commonScripts">
    </div>
</body>

</html>