<!DOCTYPE html>

<html>

    <head>
        
        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Title -->
        <title>Chi tiết sản phẩm</title>
        
		<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,900,700italic,500italic' rel='stylesheet' type='text/css'>
		
        <!-- Stylesheets -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/perfect-scrollbar.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="css/fontello.css">
		<link rel="stylesheet" href="css/jquery.fancybox.css">
   		<link rel="stylesheet" href="css/animation.css">
		<link rel="stylesheet" href="css/owl.carousel.css">
		<link rel="stylesheet" href="css/owl.theme.css">
		<link rel="stylesheet" href="css/chosen.css">
        
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<link rel="stylesheet" href="css/ie.css">
        <![endif]-->
		<!--[if IE 7]>
			<link rel="stylesheet" href="css/fontello-ie7.css">
		<![endif]-->
        
    </head>
    
    
     <body>
		
		<!-- Container -->
		<div class="container">
			
			<!-- Header -->
            <header th:replace="template :: header"></header>
            <!-- /Header -->
			
			
			<!-- Content -->
			<div class="row content">
            	
                
                <div class="col-lg-12 col-md-12 col-sm-12">
                	<div class="breadcrumbs">
                    	<p><a href="#">Trang chủ</a> <i class="icons icon-right-dir"></i> <a href="#"> Sản phẩm</a></p>
                    </div>
                </div>
                
                
				<!-- Main Content -->
				<section class="main-content col-lg-9 col-md-9 col-sm-9">
					
					
                    <div id="product-single">
					
						<!-- Product -->
						<div class="product-single">
							
							<div class="row">
								
								<!-- Product Images Carousel -->
								<div class="col-lg-5 col-md-5 col-sm-5 product-single-image">
									
									<div id="product-slider">
										<ul class="slides">
											<li>
												<img class="cloud-zoom" src="img/products/single1.jpg" data-large="img/products/sample1.jpg" alt="" />
												<a class="fullscreen-button" href="img/products/single1.jpg">
													<div class="product-fullscreen">
														<i class="icons icon-resize-full-1"></i>
													</div>
												</a>
											</li>
										</ul>
									</div>
									<div id="product-carousel">
										<ul class="slides">
											<li>
												<a class="fancybox" rel="product-images" href="img/products/single1.jpg"></a>
												<img src="img/products/single1.jpg" data-large="img/products/single1.jpg" alt=""/>
											</li>
											<li>
												<a class="fancybox" rel="product-images" href="img/products/single2.jpg"></a>
												<img src="img/products/single2.jpg" data-large="img/products/single2.jpg" alt="" />
											</li>
											<li>
												<a class="fancybox" rel="product-images" href="img/products/single3.jpg"></a>
												<img src="img/products/single3.jpg" data-large="img/products/single3.jpg" alt="" />
											</li>
											<li>
												<a class="fancybox" rel="product-images" href="img/products/single4.jpg"></a>
												<img src="img/products/single4.jpg" data-large="img/products/single4.jpg" alt="" />
											</li>
											<li>
												<a class="fancybox" rel="product-images" href="img/products/single5.jpg"></a>
												<img src="img/products/single5.jpg" data-large="img/products/single5.jpg" alt="" />
											</li>
										</ul>
										<div class="product-arrows">
											<div class="left-arrow">
												<i class="icons icon-left-dir"></i>
											</div>
											<div class="right-arrow">
												<i class="icons icon-right-dir"></i>
											</div>
										</div>
									</div>
								</div>
								<!-- /Product Images Carousel -->
								
								
								<div class="col-lg-7 col-md-7 col-sm-7 product-single-info">
									
									<h2>Sản phẩm</h2>
									<div class="rating-box">
										<div class="rating readonly-rating" data-score="4"></div>
										<span>3 Đánh giá</span>
									</div>
									<table>
										<tr>
											<td>Trạng thái</td>
											<td><span>Nhận order</span></td>
										</tr>
										<tr>
											<td>Người bán</td>
											<td><a href="#">User người bán</a></td>
										</tr>
										<tr>
											<td>Mã sản phẩm</td>
											<td>xxx</td>
										</tr>
									</table>
									
									<span class="price">25.000VND</span>
									
									<table class="product-actions-single">
										<tr>

											<td>Số phòng:</td>
											<td>
												<input type="text" name="">
											</td>
										</tr>
										<tr>
											<td>Ghi chú:</td>
											<td><textarea name="contact-message"></textarea></td>
										</tr>
										<tr>
											<td>Số lượng:</td>
											<td>
												<div class="numeric-input">
													<input type="text" value="1">
													<span class="arrow-up"><i class="icons icon-up-dir"></i></span>
													<span class="arrow-down"><i class="icons icon-down-dir"></i></span>
												</div>
												<a href="#">
													<span class="add-to-cart">
														<span class="action-wrapper">
															<i class="icons icon-basket-2"></i>
																<span class="action-name">Đặt hàng</span>
															</span >
													</span>
												</a>
											</td>
										</tr>
									</table> 
									
									<div class="product-actions">
										<span class="add-to-favorites">
											<span class="action-wrapper">
												<i class="icons icon-heart-empty"></i>
												<span class="action-name">Yêu thích</span>
											</span>
										</span>
										<span class="green product-action">
											<span class="action-wrapper">
												<i class="icons icon-info"></i>
												<span class="action-name">Đặt câu hỏi</span>
											</span>
										</span>
									</div>
									
									<div class="social-share">
											<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=112&layout=button&action=like&size=small&show_faces=true&share=true&height=65&appId" width="112" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

								</div>
								
							</div>
							
						</div>
						<!-- /Product -->
						
						
						<!-- Product Tabs -->
						<div class="row">
							
							<div class="col-lg-12 col-md-12 col-sm-12">
								
								<div class="tabs">
								
									<div class="tab-heading">
										<a href="#tab1" class="button big">Mô tả sản phẩm</a>
										<a href="#tab2" class="button big">Đánh giá</a>
										<a href="#tab3" class="button big">Bình luận</a>
									</div>
									
									<div class="page-content tab-content">
										
										<div id="tab1">
											Mô tả sản phẩm
										</div>
										
										<div id="tab2">
											
											<div class="row">
												
												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="category-results">
														<p>Results 1-6 of 6</p>
													</div>
												</div>
												
												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="pagination">
														<a href="#"><div class="previous"><i class="icons icon-left-dir"></i></div></a>
														<a href="#"><div class="page-button">1</div></a>
														<a href="#"><div class="page-button">2</div></a>
														<a href="#"><div class="page-button">3</div></a>
														<a href="#"><div class="next"><i class="icons icon-right-dir"></i></div></a>
													</div>
												</div>
											
											</div>
											
											<ul class="comments">
												<li>
													<p><strong><a href="#">User người dùng</a></strong></p>
													<span class="date">2017-9-20 22:22</span>
													<i class="icons green icon-thumbs-up-alt"></i>
													<i class="icons sum no-pointer green-sum">1</i>
													<i class="icons red icon-thumbs-down-alt"></i>
													<i class="icons icon-reply"></i>
													<div class="rating-box">
														<div class="rating readonly-rating" data-score="4"></div>
													</div>
													<br>
													<p>Đánh giá của người dùng</p>
													
												</li>
												<li>
													<p><strong><a href="#">User người dùng</a></strong></p>
													<span class="date">2017-9-20 22:22</span>
													<i class="icons green icon-thumbs-up-alt"></i>
													<i class="icons sum no-pointer">0</i>
													<i class="icons red icon-thumbs-down-alt"></i>
													<i class="icons icon-reply"></i>
													<div class="rating-box">
														<div class="rating readonly-rating" data-score="4"></div>
													</div>
													<br>
													<p>Đánh giá của người dùng</p>
													
													<ul>
														<li>
															<p><strong><a href="#">User người dùng</a></strong></p>
															<p>Đánh giá của người dùng</p>
														</li>
													</ul>
												</li>
												<li>
													<p><strong><a href="#">User người dùng</a></strong></p>
													<span class="date">2017-9-20 22:22</span>
													<i class="icons green icon-thumbs-up-alt"></i>
													<i class="icons sum no-pointer red-sum">-2</i>
													<i class="icons red icon-thumbs-down-alt"></i>
													<i class="icons icon-reply"></i>
													<div class="rating-box">
														<div class="rating readonly-rating" data-score="4"></div>
													</div>
													<br>
													<p>Đánh giá của người dùng</p>
													
												</li>
											</ul>
											
											<h3>ĐÁNH GIÁ SẢN PHẨM</h3>
											<p>Hãy viết một đánh giá cho sản phẩm</p>
											<textarea id="review-textarea"></textarea>
											<div class="rating-box">
												Rating: 
												<div class="rating rate" data-score="3"></div>
											</div>
											<div class="char-counter">
												<label>Chữ ký</label>
												<input data-target="#review-textarea" type="text">
											</div>
											<br>
											<input type="submit" class="dark-blue big" value="Hoàn thành">
											
											
										</div>
										
										<div id="tab3">
											<ul class="comments">
												<li>
													<p><strong><a href="#">User người dùng</a></strong></p>
													<span class="date">2017-9-20 22:22</span>
													<i class="icons icon-reply"></i>
													<p>Đánh giá của người dùng</p>
													
												</li>
												<li>
													<p><strong><a href="#">User người dùng</a></strong></p>
													<span class="date">2017-9-20 22:22</span>
													<i class="icons icon-reply"></i>
													<p>Đánh giá của người dùng</p>
													
													<ul>
														<li>
															<p><strong><a href="#">User người dùng</a></strong></p>
															<p>Đánh giá của người dùng</p>
														</li>
													</ul>
												</li>
												<li>
													<p><strong><a href="#">User người dùng</a></strong></p>
													<span class="date">2017-9-20 22:22</span>
													<i class="icons icon-reply"></i>
													<p>Đánh giá của người dùng</p>
												</li>
											</ul>
											<a href="#" class="button home-green"><i class="icons icon-spinner"></i>Tải lại danh sách bình luận</a>
											<br/><br/>
											<div class="row">
												
												<div class="col-lg-6 col-md-6 col-sm-8">
													<h3>VIẾT MỘT BÌNH LUẬN</h3>
													<label>Tên(bắt buộc)</label>
													<input type="text">
													<br><br>
													<label>Email( bắt buộc)</label>
													<input type="text">
													<br><br>
													<label>Link facebook</label>
													<input type="text">
													<br><br>
													<label>Hãy viết bình luận ở đây(bắt buộc)</label>
													<textarea></textarea>
													<br><br>
													<input id="comments-checkbox" type="checkbox"><label for="comments-checkbox">Xác nhận</label>
													<br><br>
													<img src="img/captcha.jpg" alt="">
													<br><br>
													<div class="row">
														
														<div class="col-lg-6 col-md-6 col-sm-6">
															<label><a href="#">Refresh</a></label>
															<input type="text">
														</div>
														
													</div>
													<br>
													<input type="submit" value="Hoàn thành" class="dark-blue big">
													
												</div>
												
											</div>
											
										</div>
										
									</div>
									
								</div>
								
							</div>
							
						</div>
						<!-- /Product Tabs -->
					
					</div>
                    
                    
					<!-- New Collection -->
					<div class="products-row row">
						
						<!-- Carousel Heading -->
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="carousel-heading">
								<h4>Sản phẩm tương tự</h4>
								<div class="carousel-arrows">
									<i class="icons icon-left-dir"></i>
									<i class="icons icon-right-dir"></i>
								</div>
							</div>
							
						</div>
						<!-- /Carousel Heading -->
						
						<!-- Carousel -->
						<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">
							
							<div class="owl-carousel" data-max-items="3">
									
									<!-- Slide -->
									<div>
										<!-- Carousel Item -->
										<div class="product">
											
											<div class="product-image">
												<img src="img/products/sample1.jpg" alt="Product1">
												<a href="products_page_v1.html" class="product-hover">
													<i class="icons icon-eye-1"></i> Xem nhanh
												</a>
											</div>
											
											<div class="product-info">
												<h5><a href="products_page_v1.html">Sản phẩm</a></h5>
												<span class="price">25.000VND</span>
												<div class="rating readonly-rating" data-score="4"></div>
											</div>
											
											<div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Đặt hàng</span>
													</span >
												</span>
												<span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Yêu thích</span>
													</span>
												</span>
												
											</div>
											
										</div>
										<!-- /Carousel Item -->
									</div>
									<!-- /Slide -->
									
									
									<!-- Slide -->
									<div>
										<!-- Carousel Item -->
										<div class="product">
											
											<div class="product-image">
												<img src="img/products/sample2.jpg" alt="Product1">
												<a href="products_page_v1.html" class="product-hover">
													<i class="icons icon-eye-1"></i> Xem nhanh
												</a>
											</div>
											
											<div class="product-info">
												<h5><a href="products_page_v1.html">Sản phẩm</a></h5>
												<span class="price">25.000VND</span>
												<div class="rating readonly-rating" data-score="4"></div>
											</div>
											
											<div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Đặt hàng</span>
													</span >
												</span>
												<span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Yêu thích</span>
													</span>
												</span>
												
											</div>
											
										</div>
										<!-- /Carousel Item -->
									</div>
									<!-- /Slide -->
									
									
									
									<!-- Slide -->
									<div>
										<!-- Carousel Item -->
										<div class="product">
											
											<div class="product-image">
												<img src="img/products/sample3.jpg" alt="Product1">
												<a href="products_page_v1.html" class="product-hover">
													<i class="icons icon-eye-1"></i> Xem nhanh
												</a>
											</div>
											
											<div class="product-info">
												<h5><a href="products_page_v1.html">Sản phẩm</a></h5>
												<span class="price">25.000VND</span>
												<div class="rating readonly-rating" data-score="4"></div>
											</div>
											
											<div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Đặt hàng</span>
													</span >
												</span>
												<span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Yêu thích</span>
													</span>
												</span>
												
											</div>
											
										</div>
										<!-- /Carousel Item -->
									</div>
									<!-- /Slide -->
									
									
									
									
									<!-- Slide -->
									<div>
										<!-- Carousel Item -->
										<div class="product">
											
											<div class="product-image">
												<img src="img/products/sample1.jpg" alt="Product1">
												<a href="products_page_v1.html" class="product-hover">
													<i class="icons icon-eye-1"></i> Xem nhanh
												</a>
											</div>
											
											<div class="product-info">
												<h5><a href="products_page_v1.html">Sản phẩm</a></h5>
												<span class="price">25.000VND</span>
												<div class="rating readonly-rating" data-score="4"></div>
											</div>
											
											<div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Đặt hàng</span>
													</span >
												</span>
												<span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Yêu thích</span>
													</span>
												</span>
												
											</div>
											
										</div>
										<!-- /Carousel Item -->
									</div>
									<!-- /Slide -->
									
									
									
									
									<!-- Slide -->
									<div>
										<!-- Carousel Item -->
										<div class="product">
											
											<div class="product-image">
												<img src="img/products/sample2.jpg" alt="Product1">
												<a href="products_page_v1.html" class="product-hover">
													<i class="icons icon-eye-1"></i> Xem nhanh
												</a>
											</div>
											
											<div class="product-info">
												<h5><a href="products_page_v1.html">Sản phẩm</a></h5>
												<span class="price">25.000VND</span>
												<div class="rating readonly-rating" data-score="4"></div>
											</div>
											
											<div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Đặt hàng</span>
													</span >
												</span>
												<span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Yêu thích</span>
													</span>
												</span>
												
											</div>
											
										</div>
										<!-- /Carousel Item -->
									</div>
									<!-- /Slide -->
									
									
									
									
									
									<!-- Slide -->
									<div>
										<!-- Carousel Item -->
										<div class="product">
											
											<div class="product-image">
												<img src="img/products/sample3.jpg" alt="Product1">
												<a href="products_page_v1.html" class="product-hover">
													<i class="icons icon-eye-1"></i> Xem nhanh
												</a>
											</div>
											
											<div class="product-info">
												<h5><a href="products_page_v1.html">Sản phẩm</a></h5>
												<span class="price">25.000VND</span>
												<div class="rating readonly-rating" data-score="4"></div>
											</div>
											
											<div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Đặt hàng</span>
													</span >
												</span>
												<span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Yêu thích</span>
													</span>
												</span>
												
											</div>
											
										</div>
										<!-- /Carousel Item -->
									</div>
									<!-- /Slide -->
									
									
							</div>
						</div>
						<!-- /Carousel -->
						
					</div>
					<!-- /New Collection -->
				
					<!-- Product Buttons -->
					<div class="row button-row">
						
						<div class="col-lg-5 col-md-5 col-sm-5">
							<a class="button grey regular" href="#"><i class="icons icon-reply"></i> Trở lại: Trang chủ</a>
						</div>
						
						<div class="col-lg-7 col-md-7 col-sm-7 align-right">
							<a class="button grey regular" href="#"><i class="icons icon-left-dir"></i> SẢN PHẨM TRƯỚC</a>
							<a class="button grey regular right-icon" href="#">SẢN PHẨM SAU<i class="icons icon-right-dir"></i></a>
						</div>
					
					</div>
					<!-- /Product Buttons -->
					
					
				</section>
				<!-- /Main Content -->
				
				
				
				
				<!-- Sidebar -->
				<aside class="sidebar right-sidebar col-lg-3 col-md-3 col-sm-3">
					
					<!-- Category -->
                    <div th:replace="template :: category"></div>
                    <!-- /Category -->
					

					<!-- Banner sidebar -->
                    <div th:replace="template :: banner_sidebar"></div>
                    <!-- /Banner sidebar -->
					
					
					<!-- Best sell -->
                    <div th:replace="template :: best_sell"></div>
                    <!-- /Best sell -->
					
					
					<!-- Highlights -->
                    <div th:replace="template :: highlights"></div>
                    <!-- /Highlights -->
					
					
				</aside>
				<!-- /Sidebar -->
				
			</div>
			<!-- /Content -->
			


			<!-- Banner -->
            <section th:replace="template :: banner"></section>
            <!-- /Banner -->

			
			<!-- Footer -->
            <footer th:replace="template :: footer"></footer>
            <!-- Footer -->
			
            
            <div id="back-to-top">
            	<i class="icon-up-dir"></i>
            </div>
            
		</div>
    	<!-- Container -->
		
		
		
		<!-- JavaScript -->
		<script src="js/modernizr.min.js"></script>
		<script src="js/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/jquery.raty.min.js"></script>
		
		<!-- Scroll Bar -->
		<script src="js/perfect-scrollbar.min.js"></script>
		
		<!-- Cloud Zoom -->
		<script src="js/zoomsl-3.0.min.js"></script>
		
		<!-- FancyBox -->
		<script src="js/jquery.fancybox.pack.js"></script>
		
		<!-- jQuery REVOLUTION Slider  -->
		<script type="text/javascript" src="js/jquery.themepunch.plugins.min.js"></script>
		<script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>

		<!-- FlexSlider -->
		<script defer src="js/flexslider.min.js"></script>
		
		<!-- IOS Slider -->
		<script src = "js/jquery.iosslider.min.js"></script>
		
		<!-- noUi Slider -->
		<script src="js/jquery.nouislider.min.js"></script>
		
		<!-- Owl Carousel -->
		<script src="js/owl.carousel.min.js"></script>
		
		<!-- Cloud Zoom -->
		<script src="js/zoomsl-3.0.min.js"></script>
		
		<!-- SelectJS -->
        <script src="js/chosen.jquery.min.js" type="text/javascript"></script>
        
        <!-- Main JS -->
        <script defer src="js/bootstrap.min.js"></script>
        <script src="js/main-script.js"></script>
        

    </body>
    
</html>