<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/resources/css/bootstrap.min.css"
              th:href="@{~/resources/css/bootstrap.min.css}">
    </head>

    <body>
        <h1>Login</h1>
        <form action="" method="POST">
            <table>
                <tr>
                    <td>Username</td>
                    <td><input type="text" name="username" maxlength="30" required></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password" maxlength="30" required></td>
                </tr>


            </table>
            <button type="submit">Login</button>

        </form>

    </body>
</html>
