<!DOCTYPE html>
<!--
Copyright © 2017 XVideos Team
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../public/resources/css/bootstrap.css"
              th:href="@{~/resources/css/bootstrap.css}">
    </head>
    <body>
        <h1> List of Product </h1>
    <li class="orange">
        <a href="category_v1.html">
            <i class="icons icon-mobile-6"></i>
            <span class="nav-caption">Đồ uống</span>
            <span class="nav-description">Cafe, sữa chua, đồ uống có ga,...</span>
        </a>
        <ul class="wide-dropdown normalAniamtion">
            <li>
                <ul>
                    <li><a href="#"> Dom A</a></li>
                    <li><a href="#"> Dom B</a></li>
                    <li><a href="#"> Dom C</a></li>
                    <li><a href="#"> Dom D</a></li>
                    <li><a href="#"> Dom F</a></li>
                </ul>
            </li>
        </ul>
    </li>
</body>
</html>
